@import "tailwindcss";

@theme {
  --font-sans: "Raleway", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Raleway", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Lora", ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;
}

html,
body {
  background-color: #faf9f6;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    background-color: #030712;
  }
}

p {
  font-family: var(--font-serif);
}
